# Leitura dos dados

In [196]:
import pandas as pd
import numpy as np

In [197]:
dados = pd.read_csv('../Dados/UF_AnoMesAtend_ValorTotal.csv', encoding="ISO-8859-1", skiprows=3, sep=";", 
                    skipfooter=12, thousands=".", decimal=",")
dados.head()

C:\Users\Kaiqu\anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Abr,2020/Mai,2020/Jun,2020/Jul,2020/Ago,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,8660753.05,8326416.32,8413784.42,7174312.31,7423678.64,8581195.13,9193593.76,7407388.24,3556381.57,9.291297e+08
1,12 Acre,-,-,-,-,-,-,-,-,-,...,2959569.09,3261123.88,2981264.22,2859102.06,2472063.08,2383895.48,2199920.70,1163813.08,-,4.206680e+08
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,14923380.22,15939561.23,15138110.70,14773739.41,16330913.81,19441150.53,17509334.66,13358514.02,4726485.73,1.771655e+09
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,2889969.87,3084561.08,2967159.04,2813954.05,2304961.42,2910776.44,3216466.51,2739498.41,1524478.04,3.050109e+08
4,15 Pará,-,-,-,-,-,-,-,-,-,...,35222625.80,37009819.17,34635702.52,34749098.46,28714969.96,41248502.78,35396030.78,27618727.51,11559714.54,4.437116e+09

## Tratamento 1:
inserir a média como valor alternativo na coluna 2020/Ago para o Acre

In [198]:
tratamento = dados.T[1]
tratamento.replace('-', np.nan, inplace = True)
tratamento.fillna(0, inplace = True)
tratamento.drop('Total', inplace =True)

In [199]:
valor_a_ser_inserido = round(tratamento.tail(-1).astype('float').mean(), 2)

In [200]:
dados['2020/Ago'].replace('-', valor_a_ser_inserido, inplace = True)
dados['2020/Ago'] = dados['2020/Ago'].astype('float')
dados['2020/Ago'].head()

0     3556381.57
1     1513194.39
2     4726485.73
3     1524478.04
4    11559714.54
Name: 2020/Ago, dtype: float64

## Tratamento 2: Selecionar as colunas utilizaveis

In [201]:
colunas_usaveis = dados.mean().index.tolist()
colunas_usaveis.insert(0, 'Unidade da Federação')

In [202]:
dados_usaveis = dados[colunas_usaveis]
dados_usaveis.set_index('Unidade da Federação', inplace = True)

In [203]:
dados_usaveis = dados_usaveis.sort_values('Total', ascending = False)
dados_usaveis.head()

,2007/Ago,2007/Set,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,...,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Abr,2020/Mai,2020/Jun,2020/Jul,2020/Ago,Total
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
35 São Paulo,1665349.90,4434168.64,14577395.84,35032259.98,76668547.41,1.023565e+09,1.728349e+08,1.704818e+08,1.702783e+08,1.724022e+08,...,2.726977e+08,3.019912e+08,2.713568e+08,2.766063e+08,2.516964e+08,3.028577e+08,2.990609e+08,2.827096e+08,1.404149e+08,3.892935e+10
31 Minas Gerais,971394.37,2861781.50,10018011.35,21730281.63,43429517.54,2.059127e+08,7.030109e+07,7.911901e+07,7.904632e+07,7.926807e+07,...,1.523986e+08,1.580979e+08,1.413232e+08,1.470786e+08,1.263306e+08,1.368673e+08,1.359776e+08,1.204672e+08,5.747370e+07,1.916011e+10
41 Paraná,554800.22,1431708.01,4630402.44,11120030.79,28790722.87,5.808133e+07,4.885505e+07,5.561179e+07,5.611514e+07,5.557483e+07,...,1.135453e+08,1.222688e+08,1.160616e+08,1.144770e+08,9.672711e+07,1.061037e+08,9.290146e+07,8.032085e+07,4.154240e+07,1.378696e+10
43 Rio Grande do Sul,1049252.33,3182913.14,8571312.11,16592432.80,30134255.70,5.106461e+07,4.589770e+07,5.292870e+07,5.197242e+07,5.167935e+07,...,8.872087e+07,9.747436e+07,8.545165e+07,8.465140e+07,7.629460e+07,8.607611e+07,8.901948e+07,7.892970e+07,2.834926e+07,1.195865e+10
33 Rio de Janeiro,469469.34,921646.57,2994664.57,7250528.08,13627123.27,2.505650e+08,4.412259e+07,4.289267e+07,4.529596e+07,4.395135e+07,...,7.489586e+07,7.970566e+07,7.241281e+07,7.359450e+07,6.816077e+07,8.628103e+07,7.760493e+07,7.154023e+07,3.626432e+07,9.696363e+09

## Tratamento 3: Removendo numeros dos indices, deixando apenas o nome do estado

In [204]:
dados_usaveis.index = dados_usaveis.index.str[3:]
dados_usaveis.head()

,2007/Ago,2007/Set,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,...,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Abr,2020/Mai,2020/Jun,2020/Jul,2020/Ago,Total
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
São Paulo,1665349.90,4434168.64,14577395.84,35032259.98,76668547.41,1.023565e+09,1.728349e+08,1.704818e+08,1.702783e+08,1.724022e+08,...,2.726977e+08,3.019912e+08,2.713568e+08,2.766063e+08,2.516964e+08,3.028577e+08,2.990609e+08,2.827096e+08,1.404149e+08,3.892935e+10
Minas Gerais,971394.37,2861781.50,10018011.35,21730281.63,43429517.54,2.059127e+08,7.030109e+07,7.911901e+07,7.904632e+07,7.926807e+07,...,1.523986e+08,1.580979e+08,1.413232e+08,1.470786e+08,1.263306e+08,1.368673e+08,1.359776e+08,1.204672e+08,5.747370e+07,1.916011e+10
Paraná,554800.22,1431708.01,4630402.44,11120030.79,28790722.87,5.808133e+07,4.885505e+07,5.561179e+07,5.611514e+07,5.557483e+07,...,1.135453e+08,1.222688e+08,1.160616e+08,1.144770e+08,9.672711e+07,1.061037e+08,9.290146e+07,8.032085e+07,4.154240e+07,1.378696e+10
Rio Grande do Sul,1049252.33,3182913.14,8571312.11,16592432.80,30134255.70,5.106461e+07,4.589770e+07,5.292870e+07,5.197242e+07,5.167935e+07,...,8.872087e+07,9.747436e+07,8.545165e+07,8.465140e+07,7.629460e+07,8.607611e+07,8.901948e+07,7.892970e+07,2.834926e+07,1.195865e+10
Rio de Janeiro,469469.34,921646.57,2994664.57,7250528.08,13627123.27,2.505650e+08,4.412259e+07,4.289267e+07,4.529596e+07,4.395135e+07,...,7.489586e+07,7.970566e+07,7.241281e+07,7.359450e+07,6.816077e+07,8.628103e+07,7.760493e+07,7.154023e+07,3.626432e+07,9.696363e+09

## Tratamento 4: Dropando o total

In [205]:
dados_usaveis = dados_usaveis.drop('Total', 1)
dados_usaveis.head()

,2007/Ago,2007/Set,2007/Out,2007/Nov,2007/Dez,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,...,2019/Nov,2019/Dez,2020/Jan,2020/Fev,2020/Mar,2020/Abr,2020/Mai,2020/Jun,2020/Jul,2020/Ago
Unidade da Federação,,,,,,,,,,,,,,,,,,,,,
São Paulo,1665349.90,4434168.64,14577395.84,35032259.98,76668547.41,1.023565e+09,1.728349e+08,1.704818e+08,1.702783e+08,1.724022e+08,...,2.823918e+08,2.726977e+08,3.019912e+08,2.713568e+08,2.766063e+08,2.516964e+08,3.028577e+08,2.990609e+08,2.827096e+08,1.404149e+08
Minas Gerais,971394.37,2861781.50,10018011.35,21730281.63,43429517.54,2.059127e+08,7.030109e+07,7.911901e+07,7.904632e+07,7.926807e+07,...,1.521067e+08,1.523986e+08,1.580979e+08,1.413232e+08,1.470786e+08,1.263306e+08,1.368673e+08,1.359776e+08,1.204672e+08,5.747370e+07
Paraná,554800.22,1431708.01,4630402.44,11120030.79,28790722.87,5.808133e+07,4.885505e+07,5.561179e+07,5.611514e+07,5.557483e+07,...,1.262094e+08,1.135453e+08,1.222688e+08,1.160616e+08,1.144770e+08,9.672711e+07,1.061037e+08,9.290146e+07,8.032085e+07,4.154240e+07
Rio Grande do Sul,1049252.33,3182913.14,8571312.11,16592432.80,30134255.70,5.106461e+07,4.589770e+07,5.292870e+07,5.197242e+07,5.167935e+07,...,9.097181e+07,8.872087e+07,9.747436e+07,8.545165e+07,8.465140e+07,7.629460e+07,8.607611e+07,8.901948e+07,7.892970e+07,2.834926e+07
Rio de Janeiro,469469.34,921646.57,2994664.57,7250528.08,13627123.27,2.505650e+08,4.412259e+07,4.289267e+07,4.529596e+07,4.395135e+07,...,7.462048e+07,7.489586e+07,7.970566e+07,7.241281e+07,7.359450e+07,6.816077e+07,8.628103e+07,7.760493e+07,7.154023e+07,3.626432e+07

### Realizando slice do ultimo mês de investimentos em procedimentos hospitalares

In [206]:
coluna_desejada = dados_usaveis.columns[-1]
interesse = dados_usaveis[coluna_desejada]
interesse.head()

Unidade da Federação
São Paulo            1.404149e+08
Minas Gerais         5.747370e+07
Paraná               4.154240e+07
Rio Grande do Sul    2.834926e+07
Rio de Janeiro       3.626432e+07
Name: 2020/Ago, dtype: float64

## Leitura da segunda tabela a partir de uma página HTML

In [207]:
df_wiki = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o', thousands = ' ')
dados_selecionados = df_wiki[0]

In [208]:
dados_selecionados.head()

,Posição,Unidade federativa,População,% da pop. total,País comparável (habitantes)
0,1,São Paulo,46289333,"21,9%",Espanha (46 439 864)
1,2,Minas Gerais,21331292,"10,1%",Sri Lanka (20 675 000)
2,3,Rio de Janeiro,17366189,"8,2%",Países Baixos (16 922 900)
3,4,Bahia,14930634,"7,1%",Chade (14 037 000)
4,5,Paraná,11516840,"5,4%",Bolívia (11 410 651)

### Selecionando dados do segundo df: População e UF

In [209]:
dados_selecionados = dados_selecionados[['Unidade federativa', 'População']]
dados_selecionados.head()

  Unidade federativa  População
0          São Paulo   46289333
1       Minas Gerais   21331292
2     Rio de Janeiro   17366189
3              Bahia   14930634
4             Paraná   11516840

### Renomeando nomes das colunas e setando index como uf

In [210]:
novos_nomes = {'Unidade federativa':'uf', 'População':'populacao'}
dados_selecionados = dados_selecionados.rename(columns = novos_nomes)
dados_selecionados = dados_selecionados.set_index('uf')
dados_selecionados.head()

                populacao
uf
São Paulo        46289333
Minas Gerais     21331292
Rio de Janeiro   17366189
Bahia            14930634
Paraná           11516840

### Juntando as duas tabelas

In [211]:
dados_selecionados.join(round(interesse)).head()

                populacao     2020/Ago
uf
São Paulo        46289333  140414945.0
Minas Gerais     21331292   57473699.0
Rio de Janeiro   17366189   36264323.0
Bahia            14930634   26023559.0
Paraná           11516840   41542401.0

### Criar uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida".

In [212]:
def limpeza_e_tratamento(var_url, nome_col_uf, nome_col_pop, nome_uf_new, nome_pop_new, coluna_desejada):
    '''
    Imports necessários: Pandas
    Váriaveis:
    var_url = uma url salva em uma variável
    nome_col_uf = nome da coluna contendo a unidade federativa
    nome_col_pop = nome da coluna contendo população
    nome_uf_new = o novo nome a ser atribuido a coluna unidade federativa
    nome_pop_new = novo nome a ser atribuido a coluna população
    coluna_desejada = coluna a ser utilizada, ou seja, um slice feito do dataframe original
    '''
    
    
    import pandas as pd
    
    # leitura HTML dos dados(dados usados foram extraidos do wikipedia)
    dados = pd.read_html(var_url, thousands = ' ')
    #selecao realizada para selecionar a primeira tabela encontrada no site.
    selecao = dados[0]
    #selecao feita para selecionar as colunas de Unidade federativa e População
    selecao = selecao[[nome_col_uf, nome_col_pop]]
    #dicionario criado para fazer a alteração dos nomes das colunas
    nomeacao_colunas = {nome_col_pop:nome_pop_new, nome_col_uf:nome_uf_new}
    #realizando a renomeação das colunas
    selecao = selecao.rename(columns = nomeacao_colunas)
    #setando index como o novo nome escolhido
    selecao = selecao.set_index(nome_uf_new)
    #parte abaixo comentada pois o tratamento dos STR foram feitos anteriormente.
    #juntar.index = juntar.index.str[3:]
    #juntar.index = juntar.index.str.strip()
    selecao.index = selecao.index.str.strip()
    #dataframe com retorno das tabelas de populacao e a coluna selecionada
    df_atualizado = selecao.join(coluna_desejada)
    
    return(selecao, df_atualizado)

### Testando a funcao:

In [213]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o'

In [222]:
coluna_desejada = round(dados_usaveis[dados_usaveis.columns[-1]])

In [223]:
populacao, junto = limpeza_e_tratamento(url, 'Unidade federativa', 'População', 'uf', 'populacao', coluna_desejada)

In [224]:
populacao.head()

                populacao
uf
São Paulo        46289333
Minas Gerais     21331292
Rio de Janeiro   17366189
Bahia            14930634
Paraná           11516840

In [225]:
junto.head()

                populacao     2020/Ago
uf
São Paulo        46289333  140414945.0
Minas Gerais     21331292   57473699.0
Rio de Janeiro   17366189   36264323.0
Bahia            14930634   26023559.0
Paraná           11516840   41542401.0